<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Grade de Horários</title>
    <link rel="icon" href="https://www.univille.edu.br/templates/source/8/images/favicon.ico" type="image/x-icon">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <script crossorigin='anonymous' src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 bg-success sidebar">
            <div class="d-flex align-items-center justify-content-center mb-4">
                <img alt="User Image" class="rounded-circle user-img" src="https://www.ancodeai.com/placeholder.svg">
                <p class="text-white font-weight-bold ml-2">User</p>
            </div>
            <hr>
            <nav>
                <a class="btn btn-block mb-2" href="/index"> Início</a>
                <a class="btn btn-block mb-2" href="/curso/hubcurso"> <i class='fas fa-chalkboard'></i> Cursos</a>
                <a class="btn btn-block mb-2" href="/professor/hubprofessor"> <i class='fas fa-chalkboard-teacher'> </i> Professores</a>
                <a class="btn btn-block mb-2" href="/disciplina/hubdisciplina"> <i class='fas fa-book-open'></i> Disciplinas</a>
                <a class="btn btn-block mb-2" href="/sala/hubsala"> <i class='fas fa-school'></i> Salas</a>
                <a class="btn btn-block mb-2 active" href="/aula/queryaula"> <i class='fas fa-bell'></i> Grade de Horários</a>
                <a class="btn btn-block mb-2" href="#">Sair</a>
            </nav>
        </div>
        <div class="col-md-10 content overflow-auto p-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/index">Início</a></li>
                    <li aria-current="page" class="breadcrumb-item active">Grade de Horários</li>
                </ol>
            </nav>
            <h1 class="h2 font-weight-bold">Grade de Horários</h1>
            <hr>
            <div class="col-md-10 content overflow-auto p-4">
                <table class="table data-table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Horário</th>
                        <th scope="col">Data</th>
                        <th scope="col">Sala</th>
                        <th scope="col">Disciplina</th>
                        <th scope="col">Professor</th>
                        <th scope="col">Prof. Ausente?</th>
                        <th scope="col">Turma</th>
                        <th scope="col">Cursos</th>
                    </tr>
                    </thead>
                    <tbody class="th-data">
                    <tr th:each="aula : ${aulas}">
                        <th scope="row" th:text="${aula.id}"></th>
                        <td th:text="${aula.horario}"></td>
                        <td th:text="${aula.data}"></td>
                        <td th:text="${aula.sala}"></td>
                        <td th:text="${aula.disciplina.nome}"></td>
                        <td th:text="${aula.professor.nome}"></td>
                        <td th:text="${aula.professor.isAusente}"></td>
                        <td th:text="${aula.turma.nome}"></td>
                        <td th:text="${aula.cursos}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
